<a href="https://colab.research.google.com/github/Richard-Shimada/Project-2/blob/main/Project_2_Part_1_(Core)_RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd




df1 = pd.read_csv('/content/drive/MyDrive/Coding Dojo 2022/07 Week 7: Classification Models/healthcare-dataset-stroke-data.csv')
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
print(df1.shape)

(5110, 12)

In [ ]:
df1.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
# First choice: dataset 1 - 

# 1. Source of data: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

# 2. Brief description of data: Various clinical, demographic, and lifestyle features of patients

# 3. What is the target? stroke column (1 if the patient had a stroke or 0 if not)

# 4. Is this a classification or regression problem? Classification problem

# 5. How many features? 11 features

# 6. How many rows of data. 5110

# 7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? There are some missing values for bmi

(5110, 12)

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/Coding Dojo 2022/07 Week 7: Classification Models/heart-failure-data.csv')
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df2.shape

(918, 12)

In [ ]:
df2.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [ ]:
# First choice: dataset 2 - 

# 1. Source of data: https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction

# 2. Brief description of data: Various clinical and demographic features of patients

# 3. What is the target? HeartDisease (1: heart disease, 0: Normal)

# 4. Is this a classification or regression problem? Classification problem

# 5. How many features? 11 features

# 6. How many rows of data. 918

# 7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? No null values, but the dataset is on the small side at only 918 rows.